[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = https://github.com/corntrace/bufexplorer
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "sources_non_forked/vim-colors-solarized"]
	path = sources_non_forked/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "sources_non_forked/vim-misc"]
	path = sources_non_forked/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "sources_non_forked/vim-surround"]
	path = sources_non_forked/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "sources_non_forked/vim-expand-region"]
	path = sources_non_forked/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "sources_non_forked/vim-multiple-cursors"]
	path = sources_non_forked/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "sources_non_forked/vim-fugitive"]
	path = sources_non_forked/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "sources_non_forked/vim-airline"]
	path = sources_non_forked/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "sources_non_forked/vim-zenroom2"]
	path = sources_non_forked/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "sources_non_forked/vim-repeat"]
	path = sources_non_forked/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "sources_non_forked/vim-commentary"]
	path = sources_non_forked/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "sources_non_forked/vim-shell"]
	path = sources_non_forked/vim-shell
	url = https://github.com/xolox/vim-shell
[submodule "sources_non_forked/vim-session"]
	path = sources_non_forked/vim-session
	url = https://github.com/xolox/vim-session
[submodule "sources_non_forked/vim-auto-save"]
	path = sources_non_forked/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save
[submodule "sources_non_forked/supertab"]
	path = sources_non_forked/supertab
	url = https://github.com/ervandew/supertab
[submodule "sources_non_forked/vim-dispatch"]
	path = sources_non_forked/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "sources_non_forked/ctrlsf.vim"]
	path = sources_non_forked/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim
[submodule "sources_non_forked/ctrlp-funky"]
	path = sources_non_forked/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky
[submodule "sources_non_forked/rainbow_parentheses"]
	path = sources_non_forked/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "sources_non_forked/csv.vim"]
	path = sources_non_forked/csv.vim
	url = https://github.com/chrisbra/csv.vim
